 <!-- Carousel-->

<div id="mycarousel" class="carousel slide hidden-xs" data-ride="carousel" >
   
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
    <li data-target="#mycarousel" data-slide-to="1"></li>
    <li data-target="#mycarousel" data-slide-to="2"></li>
    <li data-target="#mycarousel" data-slide-to="3"></li>
    <li data-target="#mycarousel" data-slide-to="4"></li>
  </ol>

  <!-- Wrapper for slides -->
 
                
  <div class="carousel-inner" role="listbox" >
  
    <div class="item active">
	<div class="pattern"></div>
        <%= image_tag("group.jpg", height: '850', alt: 'wedding photographer in glasgow', color: "lightblue") %>
       <div class="col-md-4" id="quotation">
                        <h1>
                            <i class="fa fa-heart-o"></i> Hire me</h1>
                        <p>Although based in Glasgow, HLM Imagery Photography regularly travel to venues throughout Scotland that include Edinburgh, Inverness, Stirling, Aberdeen and further afield in the north of Scotland and the Islands.</p>
						<p> If you are planning your wedding in Scotland and want Scotland's finest wedding Photographer for your day, then click through to the website for further information or request a quote.</p>
                        <div class="alert alert-danger alert-dismissable">
                            <b>Need a quote? Please Use this link below.</b>
							<a href="http://www.hlmimagery.co.uk/wedding-photographer-quote/" target="_blank"><button type="button" class="btn btn-danger btn-lg btn-block centered">Quotation</button></a>
							<br><h5> Or a call me on <i class="fa fa-phone"></i> 07 804 163 629</h5>
                        </div>
						
                    </div>
    </div>
    <div class="item">
	<div class="pattern"></div>
        <%= image_tag("test-bg.jpg", height: '850', alt: 'wedding photographer in scotland', color: "firebrick") %>
     
       <div class="col-md-4" id="quotation">
                        <h1>
                            <i class="fa fa-heart-o"></i> Hire me</h1>
                        <p>Although based in Glasgow, HLM Imagery Photography regularly travel to venues throughout Scotland that include Edinburgh, Inverness, Stirling, Aberdeen and further afield in the north of Scotland and the Islands.</p>
						<p> If you are planning your wedding in Scotland and want Scotland's finest wedding Photographer for your day, then click through to the website for further information or request a quote.</p>
                        <div class="alert alert-danger alert-dismissable">
                            <b>Need a quote? Please Use this link below.</b>
							<a href="http://www.hlmimagery.co.uk/wedding-photographer-quote/" target="_blank"><button type="button" class="btn btn-danger btn-lg btn-block centered">Quotation</button></a>
							<br><h5> Or a call me on <i class="fa fa-phone"></i> 07 804 163 629</h5>
                        </div>
						
                    </div>
    </div>
    <div class="item">
	<div class="pattern"></div>
        <%= image_tag("test1.png", height: '850', alt: 'wedding photographer in Glasgow scotland', color: "violet") %>
      
       <div class="col-md-4" id="quotation">
                        <h1>
                            <i class="fa fa-heart-o"></i> Hire me</h1>
                        <p>Although based in Glasgow, HLM Imagery Photography regularly travel to venues throughout Scotland that include Edinburgh, Inverness, Stirling, Aberdeen and further afield in the north of Scotland and the Islands.</p>
						<p> If you are planning your wedding in Scotland and want Scotland's finest wedding Photographer for your day, then click through to the website for further information or request a quote.</p>
                        <div class="alert alert-danger alert-dismissable">
                            <b>Need a quote? Please Use this link below.</b>
							<a href="http://www.hlmimagery.co.uk/wedding-photographer-quote/" target="_blank"><button type="button" class="btn btn-danger btn-lg btn-block centered">Quotation</button></a>
							<br><h5> Or a call me on <i class="fa fa-phone"></i> 07 804 163 629</h5>
                        </div>
						
                    </div>
    </div>
    <div class="item">
	<div class="pattern"></div>
        <%= image_tag("test1.png", height: '850', alt: 'wedding photography in scotland', color: "lightgreen") %>
     
       <div class="col-md-4" id="quotation">
                        <h1>
                            <i class="fa fa-heart-o"></i> Hire me</h1>
                        <p>Although based in Glasgow, HLM Imagery Photography regularly travel to venues throughout Scotland that include Edinburgh, Inverness, Stirling, Aberdeen and further afield in the north of Scotland and the Islands.</p>
						<p> If you are planning your wedding in Scotland and want Scotland's finest wedding Photographer for your day, then click through to the website for further information or request a quote.</p>
                        <div class="alert alert-danger alert-dismissable">
                            <b>Need a quote? Please Use this link below.</b>
							<a href="http://www.hlmimagery.co.uk/wedding-photographer-quote/" target="_blank"><button type="button" class="btn btn-danger btn-lg btn-block centered">Quotation</button></a>
							<br><h5> Or a call me on <i class="fa fa-phone"></i> 07 804 163 629</h5>
                        </div>
						
                    </div>
    </div>
    <div class="item">
	<div class="pattern"></div>
        <%= image_tag("test1.png", height: '850', alt: 'wedding photography in scotland', color: "tomato") %>
      
      <div class="carousel-caption hidden-sm">
       <p class="text-slideshow"><span class="carous">First Image</span> <br>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
      </div>
    </div>
	
  </div>

 
</div>

<!-- Home top Section -->

    <section id="myhome" class="content-section text-center">
	<div class="container">
	
	   <div class="row">
	   <h1 class="section-title">HLM Wedding Photography</h1>
	   <p class="text_normals">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>      
	   
              <div class="col-sm-12 col-md-6 col-lg-6">
                  <%= image_tag("freelance.jpg", width: '570', height: '422', alt: 'wedding photographer event in Glasgow', class: "images image-responsive") %>
			     
			      <h4 class="section-title-description"><a class="hlm-link" data-action="url" href="#" target="_self">About HLM Wedding Photography</a></h4>
                  <p class="text-descriptions">Freelance Wedding photographer based in Glasgow Lanarkshire, HLM Imagery Photography, is a Wedding Photographer, fashion photographer, portrait photographer, Baby Photographer and Newborn Photographer in Scotland.</p>                  
                    
			  </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
                  <%= image_tag("wedding.jpg", width: '570', height: '422', alt: 'wedding photographer event in Glasgow scotland', class: "images image-responsive") %>
			       
			       <h4 class="section-title-description"><a class="hlm-link" data-action="url" href="#" target="_self">Wedding Photography Pricing</a></h4>
                  <p class="text-descriptions">Heather provides extensive coverage, whether this is in Glasgow or anywhere in Scotland. As a professional, wedding photographer, Heather is taking the photographs, allowing you and your guests to enjoy the day.</p>                  
                   
			  </div>    
           </div>
      </div>  
    </section>
	
	<div id="pic2" class="hlm-fixed-bg"></div>

		
	
    <!-- About Section -->
    <section id="about-me" class="content-section text-center">
	
      <div class="container">
	   <div class="row">
             <h1 class="section-title">What I do</h1>
	         <p class="text_normal">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>      
               <div class="col-sm-12 col-md-6 col-lg-6">
                  <%= image_tag("freelance.jpg", width: '500', height: '273', alt: 'wedding photographer event in Glasgow scotland', class: "images image-responsive") %>
			     
			      <h4 class="section-title-description"><a class="hlm-link" data-action="url" href="#" target="_self">Wedding Photography</a></h4>
                  <p class="text-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>                  
                    
			  </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
                  <%= image_tag("freelance.jpg", width: '500', height: '273', alt: 'wedding photographer event in Glasgow scotland', class: "images image-responsive") %>
			     
			       <h4 class="section-title-description"><a class="hlm-link" data-action="url" href="#" target="_self">Wedding Testimonials</a></h4>
                  <p class="text-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>                  
                   
			  </div> 
        </div>
		</div>
		
    </section>
	
<div id="pic1" class="hlm-fixed-bg"></div>

	<!-- Gallery Section -->
	<section class="content-section text-center">
      <div class="container">
	   <div class="row">
	   
             <h1 class="section-title">Wedding Gallery</h1>
	         <p class="text_normal">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p> 
			 
            <div id="thumbnail-slider">
               <div class="inner">
                <ul>
                    <li>
                         <%= image_tag("wedding.jpg", class: "thumb") %>
                    </li>
                    <li>
                        <%= image_tag("freelance.jpg", class: "thumb") %>
                    </li>
                    <li>
                        <%= image_tag("child.jpg", class: "thumb") %>
                    </li>
                    <li>
                         <%= image_tag("wedding.jpg", class: "thumb") %>
                    </li>
                    <li>
                        <%= image_tag("wedding.jpg", class: "thumb") %>
                    </li>
                    <li>
                        <%= image_tag("freelance.jpg", class: "thumb") %>
                    </li>
                    <li>
                        <%= image_tag("freelance.jpg", class: "thumb") %>
                    </li>
                    <li>
                          <%= image_tag("wedding.jpg", class: "thumb") %>
                    </li>
                    <li>
                        <%= image_tag("child.jpg", class: "thumb") %>
                    </li>
                    <li>
                        <%= image_tag("child.jpg", class: "thumb") %>
                    </li>
                    <li>
                        <%= image_tag("freelance.jpg", class: "thumb") %>
                    </li>
                    <li>
                        <%= image_tag("child.jpg", class: "thumb") %>
                    </li>
                    
                </ul>
            </div>
        </div>
         <div id="thumbs2" style="display:none;">
            <div class="inner">
                <ul>
                    <li>
                         <%= image_tag("wedding.jpg", class: "thumb") %>
                    </li>
                    <li>
                        <%= image_tag("freelance", class: "thumb") %>
                    </li>
                    <li>
                        <%= image_tag("child.jpg", class: "thumb") %>
                    </li>
                    <li>
                         <%= image_tag("wedding.jpg", class: "thumb") %>
                    </li>
                    <li>
                        <%= image_tag("wedding.jpg", class: "thumb") %>
                    </li>
                    <li>
                        <%= image_tag("freelance.jpg", class: "thumb") %>
                    </li>
                    <li>
                        <%= image_tag("freelance.jpg", class: "thumb") %>
                    </li>
                    <li>
                          <%= image_tag("wedding.jpg", class: "thumb") %>
                    </li>
                    <li>
                        <%= image_tag("child.jpg", class: "thumb") %>
                    </li>
                    <li>
                        <%= image_tag("child.jpg", class: "thumb") %>
                    </li>
                    <li>
                        <%= image_tag("freelance.jpg", class: "thumb") %>
                    </li>
                    <li>
                        <%= image_tag("child.jpg", class: "thumb") %>
                    </li>
                    
                </ul>
            </div>
            <div id="closeBtn">CLOSE</div>
        </div> 
    <h4 class="section-title-description">Visit my<a class="hlm-link" data-action="url" href="#" target="_self"> wedding Photography portfolio page &#10140;</a></h4>
		
        </div>
		
		</div>		
    </section>
	
	<div id="pic2" class="hlm-fixed-bg"></div>
	
	 <!-- Extra or News Section -->
    <section class="content-section text-center">
      <div class="container">
	   <div class="row">
	   
             <h1 class="section-title">News</h1>
	         <p class="text_normal">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>      
               <div class="col-sm-12 col-md-3 col-lg-3">
                  <%= image_tag("wedding.jpg", width: '273', height: '231', alt: 'wedding photographer event in Glasgow scotland', class: "images image-responsive") %>
			      
			  </div>
			  
              <div class="col-sm-12 col-md-3 col-lg-3">
			      <h4 class="section-title-description"><a class="hlm-link" data-action="url" href="#" target="_self">About Me</a></h4>
                  <p class="text-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>                  
                   
			  </div>
			  
              <div class="col-sm-12 col-md-3 col-lg-3">
                  <%= image_tag("freelance.jpg", width: '273', height: '231', alt: 'wedding photographer event in Glasgow scotland', class: "images image-responsive") %>
			      
			  </div>
			  
			  <div class="col-sm-12 col-md-3 col-lg-3">
			      <h4 class="section-title-description"><a class="hlm-link" data-action="url" href="#" target="_self">What I offer</a></h4>
                  <p class="text-description">My services include weddings, portraits photography for you and your family, events photography, school photography, commercial photography & product photography, model portfolios, fashion and portrait headshots photography. I offer a range of different packages, all at great prices and part of a high quality service.</p>                  
                   
			  </div>
           
        </div>
		
		</div>		
    </section>
	
	<!-- Social Media Section -->
	<section id="social" class="content-section text-center animated LightSpeedIn">
      <div class="container">
	   <div class="row">
             <h1 class="section-title">Follow Me</h1>
	         <p class="text_normal">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>      
               <div class="col-sm-12 col-md-4 col-lg-4">
                   <a href="#"><%= image_tag("facebook.jpg") %></a>
			      <h4 class="section-title-description"><a class="hlm-link" data-action="url" href="#" target="_self">Facebook Wedding Photography</a></h4> 
			  </div>
              <div class="col-sm-12 col-md-4 col-lg-4">
                  <a href="#"><%= image_tag("linkedin.jpg") %></a>
                 <h4 class="section-title-description"><a class="hlm-link" data-action="url" href="#" target="_self">Linkedin Wedding Photography</a></h4>     
			  </div>
			  <div class="col-sm-12 col-md-4 col-lg-4">
			       <a href="#"><%= image_tag("google+.jpg") %></a>
			    <h4 class="section-title-description"><a class="hlm-link" data-action="url" href="#" target="_self">Google+ Wedding Photography</a></h4>           
                   
			  </div>
              
			  
           
        </div>
		
		</div>		
    </section>
	
